@import url(./font.css);
@import url(./partials/_variables.css);
@import url(./partials/_global.css);

.header_area .main-menu .navbar{
    padding:10px ;
}
.header_area .main-menu .nav-item .nav-link{
     font: normal 500 15px/2px var(--nunito);
     text-transform: uppercase;
     padding: 1.7rem;
     color:var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.site-main .site-banner{
    padding-left: 5%;
}

.site-title{
    padding-left: 15%;
}

.site-main .site-banner .site-title h3{
    padding-top: 10%;
    font-weight: 500;
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}